.Frustrations{
    width: 50vw;
    height: 50vh;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background: red;
}

.Frustrations-button-container button {
    width: 20%;
    margin: auto 2%;
}

.Frustration-fire {
    height:0px;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
}

.Frustrations-fire-image {
    width: 25vw;
    height: 30vh;
    opacity: 0;
    translate: 0 -15vh;
}

.fire-visible .Frustrations-fire-image {
    opacity: 1;
}